@font-face {
    font-family: "Merienda";
    src: url("./fonts/Merienda-Regular.ttf");
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "helvetica";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    color: #575757!important;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.section {
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

.section.__invitation {
    border-radius: 0;
}

.__contact-form {
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5em;
}

.contact-form-display {
    padding: 1.5em;
}

.contact-form-label {
    font-size: 18px;
    padding-right: 1.5em;
    text-align: start;
}

.display-button {
    display: flex;
    justify-content: center;
}

a,
button {
    transition: all 400ms ease-in-out;
    outline: none!important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: #FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}

.text-container {
    width: auto;
    height: 12em;
}

.quote {
    width: 70%;
    display: flex;
    align-self: center;
    font-size: 18px;
    font-style: italic;
}

.quote-author {
    font-weight: 600;
}

.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

.header {
    height: fit-content;
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.header-logo {
    width: 112px;
    height: 112px;
}

.header-title {
    font-family:  "Merienda", "helvetica";
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    padding: 0.25em 0 1em 0;
    margin: 0;
}

.header-title .agence-name {
    font-size: 24px;
    font-family: "Merienda", "helvetica";
    font-weight: bold;
}

.header-info {
    line-height: 1.2;
    padding-bottom: 1em;
    margin: 0;
}

.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-t-edge,
.bg-b-edge,
.bg-tl-edge,
.bg-bl-edge,
.bg-tr-edge,
.bg-br-edge,
.bg-repeat {
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    -o-background-size: auto!important;
    background-size: auto!important;
}

.bg-repeat {
    background: repeat;
}

.bg-t-edge {
    background: top no-repeat;
}

.b-parallax {
    background-attachment: fixed;
}

.d-bloc {
    color: rgba(255, 255, 255, .7);
}

.d-bloc button:hover {
    color: rgba(255, 255, 255, .9);
}

.d-bloc .icon-round,
.d-bloc .icon-square,
.d-bloc .icon-rounded,
.d-bloc .icon-semi-rounded-a,
.d-bloc .icon-semi-rounded-b {
    border-color: rgba(255, 255, 255, .9);
}

.d-bloc .divider-h span {
    border-color: rgba(255, 255, 255, .2);
}

.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc .navbar-brand,
.d-bloc a .icon-sm,
.d-bloc a .icon-md,
.d-bloc a .icon-lg,
.d-bloc a .icon-xl,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a,
.d-bloc p a {
    color: rgba(255, 255, 255, .6);
}

.d-bloc .a-btn:hover,
.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-sm,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-xl,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover,
.d-bloc p a:hover {
    color: rgba(255, 255, 255, 1);
}


.d-bloc .btn-wire,
.d-bloc .btn-wire:hover {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

.d-bloc .panel {
    color: rgba(0, 0, 0, .5);
}

.d-bloc .panel button:hover {
    color: rgba(0, 0, 0, .7);
}

.d-bloc .panel icon {
    border-color: rgba(0, 0, 0, .7);
}

.d-bloc .panel .divider-h span {
    border-color: rgba(0, 0, 0, .1);
}

.d-bloc .panel .a-btn {
    color: rgba(0, 0, 0, .6);
}

.d-bloc .panel .a-btn:hover {
    color: rgba(0, 0, 0, 1);
}

.d-bloc .panel .btn-wire,
.d-bloc .panel .btn-wire:hover {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3);
}

.d-bloc .panel,
.l-bloc {
    color: rgba(0, 0, 0, .5);
}

.d-bloc .panel button:hover,
.l-bloc button:hover {
    color: rgba(0, 0, 0, .7);
}

.l-bloc .icon-round,
.l-bloc .icon-square,
.l-bloc .icon-rounded,
.l-bloc .icon-semi-rounded-a,
.l-bloc .icon-semi-rounded-b {
    border-color: rgba(0, 0, 0, .7);
}

.d-bloc .panel .divider-h span,
.l-bloc .divider-h span {
    border-color: rgba(0, 0, 0, .1);
}

.d-bloc .panel .a-btn,
.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-sm,
.l-bloc a .icon-md,
.l-bloc a .icon-lg,
.l-bloc a .icon-xl,
.l-bloc h2 a,
.l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
    color: rgba(0, 0, 0, .6);
}

.d-bloc .panel .a-btn:hover,
.l-bloc .a-btn:hover,
.l-bloc .navbar a:hover,
.l-bloc .navbar-brand:hover,
.l-bloc a:hover .icon-sm,
.l-bloc a:hover .icon-md,
.l-bloc a:hover .icon-lg,
.l-bloc a:hover .icon-xl,
.l-bloc h2 a:hover,
.l-bloc h3 a:hover,
.l-bloc h4 a:hover,
.l-bloc h5 a:hover,
.l-bloc h6 a:hover,
.l-bloc p a:hover {
    color: rgba(0, 0, 0, 1);
}

.d-bloc .panel .btn-wire,
.d-bloc .panel .btn-wire:hover,
.l-bloc .btn-wire,
.l-bloc .btn-wire:hover {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3);
}

.voffset {
    margin-top: 30px;
}

.voffset-lg {
    margin-top: 80px;
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.row-no-gutters > [class^="col-"],
.row.row-no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.img-responsive {
    width: 272px;
    height: 272px;
}

img#lightbox-image.img-responsive {
    width: 420px;
    height: 420px;
}

.navbar {
    margin-bottom: 0;
    z-index: 10;
}

.index-nav {
    width: 80%;
    height: 4em;
    padding: 1em;
    display: flex;
    justify-content: center;
    background-color: rgba(22, 10, 2, 0.5);
    border-radius: 0.15em;
}

.index-nav-list {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.index-nav-link:hover {
    transition: all 600ms ease-in-out;
    color: #cf712b!important;
}
.navbar.__social {
    z-index: 0;
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #cf712b;
}
.navbar-social-list {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    margin: 0;
}
.navbar-social-item {
    list-style-type: none;
}

.social-button {
    border: none;
    background-color: rgb(255, 255, 255);
    min-width: 3em;
    min-height: 3em;
    border-radius: 1em;
    display: flex;
    transition: all 400ms ease-in-out; /* does not work? */
}

.social-button:hover, .social-button:focus {
    transform: scale(1.1);
    opacity: 0.9;
}

.fa {
    font-size: 2em !important;
}

.fa-twitter {
    color: rgb(41, 170, 227);
}

.fa-facebook {
    color: rgb( 61 , 96 , 176);
}

.fa-dribbble {
    color: rgb(231, 77, 137);
}

.fa-instagram {
    color: transparent;
    background: linear-gradient(to bottom right, #C0009F, #FBAA1A);
    background-clip: text;
    -webkit-background-clip: text;
}

.internal-backlink {
    display: flex;
    padding-right: 0.5em;
    font-size: 26px;
    color: #e88a44;
    transition: all 400ms ease-in-out;
}

.internal-backlink .fa-solid {
    display: flex;
    align-self: center;
    background-color:rgba(220, 220, 220, 0.6);
    padding: 5px 10px;
    border-radius: 50%;
}

.internal-backlink:hover, .internal-backlink:focus {
    transform: scale(1.2);
}

.navbar-brand {
    height: auto;
    padding: 3px 15px;
    font-size: 25px;
    font-weight: normal;
    font-weight: 600;
    line-height: 44px;
}

.navbar-brand img {
    max-height: 200px;
    margin: 0 5px 0 0;
    display: inline;
}

.navbar-brand img[src$=svg] {
    min-width: 100px;
}

.nav-center .navbar-brand img {
    margin: 0;
}

.navbar .nav {
    padding-top: 2px;
    margin-right: -16px;
    float: right;
    z-index: 1;
}

.nav > li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
}

.navbar-nav .open .dropdown-menu > li > a {
    text-align: inherit;
}

.nav > li a:hover,
.nav > li a:focus {
    background: transparent;
}

.nav-invert .navbar .nav {
    float: left;
}

.navbar-header,
.nav-invert .navbar-brand {
    z-index: 2;
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    background-color: #f8a376;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.fourth-title {
    font-size: 22px;
    text-align: center;
}

.fourth-title, .list-partners {
    list-style-type: none;
}


.footer .list-partners {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-partners.__link {
    min-width: 200px;
    height: 50px;
    margin: 0 1.5em;
    background-color: #1467a5;
    border: rgba(7, 34, 56, 1) solid 3px;
    border-radius: 3em;
    box-shadow: 5px 3px 3px 0px black;
    font-size: 20px;
    transition: all 400ms ease;
}

.list-partners.__link:hover, .list-partners.__link:focus {
    transform: scale(1.1);
    background-color: #1981CF;
    border: rgba(5, 26, 42, 1) solid 3px;
}

@media (min-width: 768px) {
    .nav > li .dropdown-menu a,
    .nav > li .dropdown-menu a:hover {
        color: #484848;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0;
        padding: 2em;
    }
    .navbar-header {
        display: flex;
    }
}

nav .caret {
    margin: 0 5px;
}

.dropdown-menu .dropdown-menu {
    top: -8px;
    left: 100%;
}

.dropdown-menu .dropmenu-flow-right {
    top: 100%;
    left: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu .dropdown span {
    border: 4px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin: 6px -5px 0 0!important;
    float: right;
}

.tertiary-title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn {
    margin: 0 5px 5px 0;
}

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}

button {
    outline: none!important;
}

.btn-rd {
    border-radius: 40px;
}

.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.contact-form-btn {
    border-radius: 2em;
    width: 10em;
}

.contact-display {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

.icon-lg {
    font-size: 60px!important;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 30px;
}

.panel-rd .panel-heading {
    border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
    border-radius: 0 0 29px 29px;
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all 400ms ease-in-out;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}

.lightbox-link:hover::before, .lightbox-link:focus::before {
    z-index: 1;
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    font-weight: 100;
    border-radius: 50%;
    background: rgba(207, 113, 43, 0.7);
    color: #FFFFFF;
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    padding: 0.35em 0.7em;
}

a[data-lightbox]:hover img,a[data-lightbox]:focus img  {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 6em auto 2em auto;
}

.lightbox-caption {
    position: absolute;
    top: 1em;
    line-height: 2;
    color: #464447;
    background: rgba(0, 0, 0, .5);
}

.close-lightbox {
    color: #FFF;
    font-size: 30px;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 20;
    width: 1.5em;
    background: #df2e0b;
    border: 1px solid #591204;
    box-shadow: 0px 4px 9px rgb(0, 0, 0);
    border-radius: 0.25em;
    opacity: 0.85;
    transform: all 600ms ease-in-out;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover  {
    transform: scale(1.1);
}

.next-lightbox,
.prev-lightbox {
    z-index: 1;
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #cf712b;
    box-shadow: 0px 4px 9px rgb(0, 0, 0);
    opacity: 1;
    border-radius: 1em;
    transition: all 400ms ease-in-out;
}

.next-lightbox {
    right: 25px;
    display: flex;
}

.prev-lightbox {
    left: 25px;
    display: flex;
}

.snapshot-lb .modal-body {
    padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: #464447;
    background: none;
}

.container {
    max-width: 1000px;
}

.hero-bloc-text-sub {
    font-size: 36px;
}

.statement-bloc-text {
    line-height: 26px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    max-width: 520px;
    margin: auto auto auto auto;
}

.portfolio-article {
    max-width: 17em;
    max-height: 35em;
}

.cta-hero {
    color: #FFFFFF!important;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
}

.social {
    max-width: 400px;
    margin: auto auto auto auto;
}

.display-secondary-title {
    display: flex;
    align-self: center;
    height: fit-content;
}

.index-secondary-title {
    text-align: center;
    font-size: 26px;
    white-space: normal;
    line-height: 1.5;
}

.contact-secondary-title {
    font-size: 22px;
    line-height: 1;
}

section.__local-presentation {
    max-width: 800px;
    display: flex;
    justify-self: center;
    margin: auto auto 3em auto;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333!important;
}

.display-articles {
    max-width: 820px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 0px #000000;
}

.display-portfolio {
    display: flex;
    justify-content: space-around;
}

.tight-width-whitespace {
    max-width: 600px;
    margin: auto auto auto auto;
}

.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.white {
    color: #FFFFFF!important;
}

.portfolio-thumb {
    margin-bottom: 24px;
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.avatar {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}

.blue-background {
    background-color: #1981CF;
    padding: 2em 1.5em;
    border-radius: 1em;
}

.grey-background {
    background-color: rgba(22, 10, 2, 0.1);
}

.bold-link {
    font-weight: 900;
    text-decoration: underline!important;
}

.bgc-white {
    background-color: #FFFFFF;
}

.bgc-atomic-tangerine {
    background-color: #cf712b;
    transition: all 1000ms ease;
}

.btn-atomic-tangerine {
    background: #cf712b;
    color: #FFFFFF!important;
    box-shadow: 5px 3px 3px 0px black;
}

.btn-atomic-tangerine:hover, .btn-atomic-tangerine:focus {
    transform: scale(1.1);
    background: #e67e30!important;
    color: #FFFFFF!important;
}

.ltc-white {
    color: #FFFFFF!important;
}

.ltc-white:hover {
    color: #cccccc!important;
}

.ltc-atomic-tangerine {
    color: #aa4712!important;
}

.ltc-orange-strong {
    color: #aa4712;
}

.ltc-atomic-tangerine:hover {
    color: #db5b18!important;
}

.icon-dark-slate-blue {
    color: #484850!important;
    border-color: #484850!important;
}

.bg-banniere {
    background-image: url("img/agence-la-panthere.avif");
}

@media (max-width: 1024px) {
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bloc.full-width-bloc,
    .bloc-tile-2.full-width-bloc .container,
    .bloc-tile-3.full-width-bloc .container,
    .bloc-tile-4.full-width-bloc .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1500px) and (min-width: 768px) {
    main {
        padding: 0;
    }
    .navbar .nav {
        max-width: 80%
    }
    .nav-center.navbar .nav {
        max-width: 100%
    }
    .section.__local-presentation {
        max-width: none;
        margin: 0;
    }
    .blue-background {
        border-radius: 0;
    }
    .display-secondary-title {
        flex-direction: column;
        align-items: center;
    }
    .__contact-form {
        width: 95%;
    }
    .list-partners {
        width: 100%;
    }
    .list-partners.__link {
        color: #FFFFFF;
        font-size: 16px;
    }
    .portfolio-article {
        max-width: 10em;
    }
    .img-responsive {
        width: 10em;
        height: auto;
    }
    #lightbox-image {
        width: 420px;
        height: 420px;
       }       
    .text-container {
        height: 17em;
    }
    .lightbox-link:hover::before, .lightbox-link:focus::before {
        top: 30%;
        left: 30%;
    }
    .list-partners.__link {
        min-width: 150px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }
    .bloc-group,
    .bloc-group .bloc {
        display: block;
        width: 100%;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 20px;
    }
    main {
        padding: 0;
    }
    .header {
        height: fit-content;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .section {
        padding: 1em;
    }
    .section.__local-presentation {
        margin-bottom: 0;
        padding-bottom: 3em;
    }
    .section.__contact-form {
        padding: 0;
        width: 100%;
    }
    .__contact-form {
        width: 95%;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .navbar .nav {
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, .2);
        float: none!important;
    }
    .navbar.__social {
        z-index: 0;
        position: relative;
        bottom: 0;
        right: 0;
        width: 100%;
        display: flex;
        align-self: center;
        align-self: flex-start;
        background-color: rgb(20, 223, 109);
    }
    .navbar-social-list {
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }
    .nav > li:hover {
        background: rgba(0, 0, 0, .08);
    }
    .index-nav-elt {
        display: flex;
        min-width: 48px;
        min-height: 48px;
    }
    .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    #hero-bloc .navbar .nav {
        background: rgba(0, 0, 0, .8);
    }
    #hero-bloc .navbar .nav a {
        color: rgba(255, 255, 255, .6);
    }
    .fa-solid, .fas {
        background-color:rgba(210, 210, 210, 0.6);
        padding: 0.3em 0.5em;
        border-radius: 50%;
    }
    .hero {
        padding: 50px 0;
    }
    .hero-nav {
        left: -1px;
        right: -1px;
    }
    .index-nav {
        width: 100%;
        height: auto;
        align-items: center;
    }
    .index-nav-list {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .index-nav-elt {
        align-items: center;
    }
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
        max-height: 40px;
        width: auto;
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-xxl,
    .bloc-xl,
    .bloc-lg {
        padding: 1em 0.25em;
    }
    .display-articles {
        max-width: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .portfolio-article {
        display: flex;
        align-items: center;
    }
    img#lightbox-image.img-responsive {
        width: fit-content;
        height: fit-content;
    }
    .lightbox-caption {
        text-align: center;
    }
    .prev-lightbox, .next-lightbox {
        top: auto;
        bottom: 1%;
    }
    .prev-lightbox {
        left: 1%;
    }
    .next-lightbox {
        right: 1%;
    }
    .close-lightbox {
        top: 0.25em;
        right: 0.25em;
    }
    .header-title, 
    .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-tile-2 .container,
    .bloc-tile-3 .container,
    .bloc-tile-4 .container,
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding-left: 0;
        padding-right: 0;
    }
    .display-secondary-title {
        flex-direction: column;
        align-items: center;
    }
    .index-secondary-title {
        font-size: 22px;
    }
    .tertiary-title {
        font-size: 16px;
    }
    h4.fourth-title:nth-child(3) {
        line-height: 1.5;
    }
    p.text-center:nth-child(2) {
        font-style: italic;
    }          
    .text-container {
        height: auto;
    }
    .blue-background {
        border-radius: 0;
    }
    .a-block {
        padding: 0 10px;
    }
    .btn {
        margin: 1.5em;
    }
    .social-button {
        opacity: 1;
    }
    .btn-dwn {
        display: none;
    }
    .contact-display {
        padding: 0;
    }
    .voffset {
        margin-top: 5px;
    }
    .voffset-md {
        margin-top: 20px;
    }
    form {
        padding: 5px;
    }
    .lightbox-link:hover::before .lightbox-link:focus::before {
        top: 37%;
        left: 37%;
    }
    .close-lightbox {
        display: inline-block;
    }
    .blocsapp-device-iphone5 {
        background-size: 216px 425px;
        padding-top: 60px;
        width: 216px;
        height: 425px;
    }
    .blocsapp-device-iphone5 img {
        width: 180px;
        height: 320px;
    }
    .display-portfolio {
        flex-direction: column;
        align-items: center;
    }
    .footer ul {
        height: 25em;
    }
    .footer .list-partners {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 12em;
    }
}